body, html {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F7F7FF;
    color: #333;
    overflow-x: hidden; 
}

.title-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #031926;
    flex-direction: column;
    text-align: center;
    position: relative;
}

header.title-page h1 {
    text-align: center;
    margin: auto;
}

#arrow-icon.fa-solid.fa-angle-down {
    color: #F7F7FF;
    font-size: 2rem;
    width: 1em;
    margin-top: 80vh;
    position: absolute;
    cursor: pointer;
    z-index: 4;
}


#arrow-icon.fa-solid.fa-angle-down:hover {
    color: #748CAB;
}

canvas {
    position: absolute;
    height: 100vh;
}

img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.taskbar {
    background-color: #031926;
    color: #F7F7FF;
    padding: 0;
    position: fixed;
    width: 100%;
    top: 100%;
    z-index: 4;
    font-size: 1.2em;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 768px) {
    .taskbar {
        display: none;
    }
}

.taskbar a {
    margin: 0 1.4rem;
    text-decoration: none;
    color: #F7F7FF;
    font-weight: bold;
    
}

.title-page h1 {
    font-size: 7em;
}

h1 {
    color: #F7F7FF;
    text-align: center;
    position: relative;
    z-index: 1;
}

h2 {
    color: #031926;
    font-size: 3em;
}

h3 {
    color: #031926;
    font-size: 1.5em;
}

h4 {
    margin-top: 0;
    color: #031926;
    font-size: 1em;
    font-weight: normal;
}

h5 {
    color: #031926;
    font-size: 1em;
    font-weight: normal;
}

h6 {
    margin-top: 10px;
    color: #031926;
    font-size: 1em;
    font-weight: normal;
}

p {
    color: #031926;
    line-height: 1.6;
    font-size: 1.1em;
}

.goals-list li::marker {
    font-size: 1.5em;
    font-weight: 800;
}

#goals ol {
    margin-top: 0;
}

nav {
    position: relative;
    color: #fff;
    padding: 2em;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 0.5em;
    font-weight: bold;
    cursor: pointer;
}

nav a:hover {
    color: #748CAB;
}

.content {
    margin-top: 10vh;
    margin-bottom: 20vh;
}

@media (max-width: 768px) {
    .content {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
}

.container {
    display: flex;
    flex-direction: column;
    padding: 2em;
    padding-bottom: 0;
}

@media (min-width: 1025px) {
    .container {
        max-width: 976px;
        margin: auto;
    }
}

.project-grid {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr;
}

@media (min-width: 768px) {
    .project-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 1025px) {
    .project-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.project-grid .project-card {
    background-color: #F7F7FF;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1), transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.project-grid .project-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
}

.project-grid .project-image {
    overflow: hidden;
}

.project-grid .project-content {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

.project-grid .project-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.25em;
}

.project-grid .project-stack {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.project-grid .project-stack div {
    background: #F7F7FF;
    color: #031926;
    border: 1px solid #031926;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 0.75em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
}

.project-grid .project-card h5 {
    font-weight: 600;
    font-size: 1.25em;
    margin: 0;
    color: #031926;
}

.project-card a {
    text-decoration: none;
}

.project-card a:hover {
    color: #748CAB;
}

#github.fa-brands.fa-github {
    color: #031926;
    font-size: 3rem;
    transition: color 0.3s ease;
}

#github.fa-brands.fa-github:hover {
    color: #748CAB;
}

.work-experience {
    margin-top: 1.5em;
}

.work-list {
    list-style: none;
    padding: 0;
}

.work-card {
    margin-bottom: 1.5em;
    display: flex;
    align-items: center;
}

.title-bar {
    width: 100%;
    background-color: #031926;
    margin-left: -2.5%;
    padding: 2.5%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0.5, 0.3);
}

.work-arrow-icon {
    position: absolute;
    top: 40%;
    left: 90%;
    color: #F7F7FF;
    cursor: pointer;
    font-size: 2em;
}

@media (max-width: 768px) {
    .work-arrow-icon {
        left: 85%;
    }
}

.work-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 8px;
    color: #F7F7FF;
}

.company-name {
    color: #555;
    margin-bottom: 8px;
    color: #F7F7FF;
}

.work-duration {
    color: #666;
    font-size: 1rem;
    color: #F7F7FF;
}
  
.work-description {
    font-size: 1rem;
    line-height: 1.4;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.education-item {
    padding-top: 1em;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.education-logo {
    margin-right: 20px;
}

.education-logo img {
    width: 75px;
    box-shadow: none;
}

.education-details {
    flex: 1;
}

.education-header {
    display: flex;
    justify-content: space-between;
}

.education-major {
    color: #031926;
    font-size: 1.5em;
    padding: 0;
}

.education-date {
    color: #031926;
    font-size: 1.1em;
    text-align: right;
    display: flex;
}

@media (max-width: 768px) {
    .education-header {
        display: flex;
        flex-direction: column;
    }
    .education-major {
        font-size: 1.3em;
        padding-bottom: 5px;
    }
    .education-date {
        font-size: 1.1em;
        padding-bottom: 5px;
    }
}

.university {
    font-size: 1.1em;
    color: #031926;
}

.education-header p {
    padding: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: #031926;
    color: #F7F7FF;
    width: 100%;
    bottom: 0;
}

footer p {
    color: #F7F7FF;
}

footer a {
    color: #F7F7FF;
    font-size: 1.1em;
    line-height: 1.6;
    transition: color 0.3s ease;
    padding-left: 5px;
    text-decoration: none;
}

footer a:hover {
    color: #748CAB;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.skills-grid div {
    background: #F7F7FF;
    cursor: default;
    display: inline-block;
    color: #031926;
    font-size: 1.5em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1), transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.skills-grid div:hover {
    background: #031926;
    color: #F7F7FF;
    transform: scale(1.05);
}